/* App.css */
.app-container {
  display: flex;
  justify-content: space-between;
  background-image: url(https://cdn.pixabay.com/photo/2017/05/24/12/04/ppt-backgrounds-2340382_1280.png); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

/* Style for the whole form container */
.form-container {
  height: 100vh;
  width: 50%; 
  padding: 20px;
  border-radius: 5px;
  margin-top: 5vh;
  margin-left: 5vw;
}

/* Style for individual form inputs */
.form-input {
  font-size: large;
  width: 30vw;
  height: 3vh;
  padding: 10px;
  margin-bottom: 30px;
  border: 2px solid #050505;
  border-radius: 7px;

}

/* Style for radio button container */
.radio-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

/* Style for individual radio buttons */
.radio-label {
  font-size: large;
  margin-right: 10px;
}

/* Style for submit button */
.submit-button {
  font-size: medium;
  background-color: #236d2f;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}
/* Style for the AttendanceTable container */
.table-container {
  margin-top: 5vh;
  margin-right: 5vw;
  width: 50%; 
  font-size: medium;
  padding: 70px;
  font-weight: bolder;
  
}
.attendance-table {
  border-collapse: collapse;
  width: 100%;
}

.attendance-table th,
.attendance-table td {
  padding: 10px; 
  border: 2px solid #0a0a0a;
}

.attendance-table th {
  background-color: #f2f2f2;
}
.heading {
  text-align: center;
  padding: 10px;
  margin: 1px; 
  background-color: gray;
}